.lab1-container h3 {
    color: #42438f;
}

.lab1-container .lab1-re-content {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.lab1-container .lab1-re-content *{
    color: black;
    font-size: 16px;
}
.lab1-container .lab1-re-content{

}
.lab1-container .lab1-re-content ul li{
    margin-left:30px;
}
.lab1-container .lab1-re-content ul.lab1-li li{
    list-style-type: circle;
}

